html {
    position: relative;
    min-height: 100%;

}

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
    background-position: center center;

    /* Фоновое изображение не повторяется */

    /* Фоновое изображение зафиксировано в окне просмотра, поэтому оно не смещается, когда высота контента больше высоты изображения */
    background-attachment: fixed;

    /* Вот что позволяет фоновому изображению подстраиваться под размер контейнера */
    background-size: cover;

    /* Устанавливает фоновый цвет, который будет отображаться, пока загружается фоновое изображение */
    background-color: #464646;
}

body,
html {
    height: 100%;
    font-family: "Myriad Pro", Regular;
}

/* Устанавливает желтый шрифт */
.yellow {
    color: #d9b64c;
    font-family: "Myriad Pro", Regular;
    font-size: 27pt;
}

/* Устанавливает белый шрифт */
.white {
    color: #ffffff;
    font-family: "Myriad Pro", Regular;
    font-size: 27pt;
}

.form-group.row {
    color: #ffffff;
    font-family: "Myriad Pro", Regular;
    font-size: 16pt;
}

/* Начало блока "Показать/скрыть пароль */
.password {
    position: relative;
}

.password-control {
    position: absolute;
    top: 10px;
    right: 25px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}

.password-control.view {
    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

/* Конец блока "Показать/скрыть пароль */